@model IEnumerable<DesafioTecnico.Models.Documento>


@section Styles
{

    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="~/js/site.js"></script>
}


    <a class="btn btn-outline-success" asp-action="Cadastro">Novo Cadastro</a>

<table id="tabela" class="table table-bordered table-hover table-sm">
    <thead class="text-success  ">
        <tr class="text-center">

            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
           

            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Processo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>

                <td>

                    <form asp-action="BaixarDocumento">
                        <input type="hidden" iad="id" name="id" value="@item.Codigo">
                        <input type="submit" class="btn btn-success" value="Download">

                    </form>

                   
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts
{
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>

}
